@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, blue, #f2f2f2, #23a6d5, #333);
	background-size: 1200% 1200%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
* {
   box-sizing: border-box;
}

.co {
  margin: 20px;
}

.co p {
  margin-left: 6%;
  font-weight: 500 ;
}

.co img {
  border-radius: 10px;
  box-shadow: 5px 5px  #000;
  margin: 1% 7%;
}

.img img {
  border-radius: 10px;
  box-shadow: 5px 5px  #000;
  margin: 3%  10%;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  border: 3px solid  #4CAF50 ;
  z-index: 9;
  margin-right: 50px;
  background: linear-gradient(-45deg,#17EAD9,#6078EA);
  border-radius: 25px;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
}

.form-container h1 {
    text-align: center;
    padding-bottom: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
 .cancel {
    background-color:#f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 60px;
    margin-bottom: 5px;
    border-radius: 5px;
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#main .u{
    font-size: 20px;
    margin-bottom: 10px;

}

#main .ch {
    font-size: 20px;
    margin-bottom: 10px;

}

